/*

!.gitignore
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!README.md
!LICENSE
!CHANGELOG.md

!gradle/

!staggeredgridview/
staggeredgridview/*

!staggeredgridview/src/

!staggeredgridview/build.gradle

!staggeredgridview-samples/
staggeredgridview-samples/*

!staggeredgridview-samples/src/

!staggeredgridview-samples/build.gradle

.DS_store
